!!!
%html
  %head
    %title GrubHaus
    = stylesheet_link_tag "application", :media => "all"
    = requirejs_include_tag "application"
    = csrf_meta_tag
    %script{:src => "http://use.edgefonts.net/lobster-two.js"}
  %body
    #wrap
      = render "home/header"
      .app-container
        //%p.notice= notice
        //%p.alert= alert
        = yield
