!!!
%html
  %head
    %title GrubHaus
    = stylesheet_link_tag "application", :media => "all"
    = requirejs_include_tag "application"
    = csrf_meta_tags
  %body
    #wrap
      .app-container
        = render "header"
        %p.notice= notice
        %p.alert= alert
        = yield
