!!!
%html
  %head
    %title GrubHaus
    = stylesheet_link_tag "application", :media => "all"
    = requirejs_include_tag "application"
    = csrf_meta_tag
    %meta{:id => "current_user",:user => (@user.username unless @user.nil?)}
    %meta{:id => "current_photo",:photo => (@user.profile.photo unless @user.nil?)}
    %script{:src => "http://use.edgefonts.net/lobster-two.js"}
  %body
    #wrap
      = render "home/header"
      .app-container
        %p.notice{:style => "display: none;"}
        %p.alert{:style => "display: none;"}
        %p.success{:style => "display: none;"}
        %p.error{:style => "display: none;"}
        %p.info{:style => "display: none;"}
        = yield
